# FastAPI 및 관련 패키지
fastapi==0.109.0
uvicorn==0.27.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.10
python-dotenv==1.0.1

# Pydantic
pydantic==2.10.4
pydantic-settings==2.2.1

# JWT 인증 관련
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6

# 이메일 검증
email-validator==2.1.0

# 한국어 처리
konlpy==0.6.0
JPype1==1.4.1

# 데이터베이스 마이그레이션
alembic==1.14.1